<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="19006f76-3727-4889-8b81-204c4d8126c7" Publisher="CN=Sean" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Randoraunt</DisplayName>
    <PublisherDisplayName>Sean</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Randoraunt.App">
      <VisualElements DisplayName="Randoraunt" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Randoraunt" ForegroundText="light" BackgroundColor="#FFD5AC">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Resources\splash.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>