<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="22441SeanDunford.MemoryMaker" Publisher="CN=B5769CF2-7EBD-4609-A847-2091A447EABB" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Memory Maker</DisplayName>
    <PublisherDisplayName>Sean_Dunford</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MemoryMaker.App">
      <VisualElements DisplayName="Memory Maker" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Memory maker makes memory" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <DefaultTile ShowName="noLogos" ShortName="Memory Maker" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>